*.pyc
results/*
__pycache__
.DS_Store
*.pdf
*.tex
*.out
*.nav
*.key
*.toc
*.svg
*.log
*.aux
*.gz
*.snm
*.out
*.bbl
*.blg
*.pages
*.bib
administration/*
solution_*
Chapters/03.UndirectedGraphs/*
Old/*
*.ipynb_checkpoints*
*checkpoint.ipynb
Slides/*
Notes/*
solution/*
*ignore*
